name: Leaderboard

on:
  workflow_run:
    workflows: ["Submission"]
    types:
      - completed

permissions:
  actions: read
  contents: read

jobs:
  consume:
    runs-on: ubuntu-latest
    steps:
      - name: Debug  list artifacts for triggering run
        uses: actions/github-script@v7
        with:
          script: |
            const runId = context.payload.workflow_run.id;

            const artifacts = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: runId,
            });

            console.log(`Found ${artifacts.data.artifacts.length} artifacts`);
            for (const a of artifacts.data.artifacts) {
              console.log(`- ${a.name} (expired: ${a.expired})`);
            }

      # - name: Download artifact
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: ex1_bob
      #     run-id: ${{ github.event.workflow_run.id }}

      - name: Download artifact via API
        uses: actions/github-script@v7
        with:
          script: |
            const runId = context.payload.workflow_run.id;

            const artifacts = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: runId,
            });

            const artifacts_to_download = artifacts.data.artifacts.filter(a => a.name.startsWith("ex1_"));
            if (artifacts_to_download.length === 0) {
              throw new Error("No artifacts found starting with ex1_");
            }

            const fs = require("fs");
            for (const artifact of artifacts_to_download) {
              const download = await github.rest.actions.downloadArtifact({
              owner: context.repo.owner,
              repo: context.repo.repo,
              artifact_id: artifact.id,
              archive_format: "zip",
              });

              fs.writeFileSync(`${artifact.name}.zip`, Buffer.from(download.data));
            }

      - name: Extract artifact
        run: unzip ex1_bob.zip

      - name: Use the files
        run: |
          for file in ex1_*.py; do
            python "$file"
          done
