# Common steps for both workflows
name: Execute Image 2
on:
  workflow_run:
    workflows: ["Build and Push Images"]
    types:
      - completed

jobs:
  execute:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Pull and run image
        run: |
          # For workflow C, use img2
          docker pull ghcr.io/${{ github.repository }}/img2:latest
          docker run --rm ghcr.io/${{ github.repository }}/img2:latest